@charset "UTF-8";

@font-face {
    font-family: worksans;
    src: url(fonts/WorkSans-VariableFont_wght.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: worksans;
}

body, html{
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #FAEEFF;
    position: relative;
}

div#himage {
    display: block;
    background-image: url('images/background-pattern-mobile.svg');
    width: 100%;
    height: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    min-width: 300px;
    max-width: 427px;
    background-color: white;
    border-radius: 5px;
}

div#hdmain {
    margin: 25px;
}

div#hdmain img {
    transform: translateY(2px);
    width: 25px;
}

div#hdmain img, h1 {
    display: inline-block;
}

div.lista {
    width: 100%;
    height: 100%;
}

div.lista h2 {
    display: inline;
    font-size: 20px;
    color: #271A29;
}

div.itens {
    margin: 0 30px;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(179, 174, 174);
}

#nobord {
    border: none;
}

div.sub-itens {
    text-align: justify;
    color: #9F9AA0;
    display: none;
    margin: 0 30px;
    padding-bottom: 20px;
}

img.plusicon  {
    cursor: pointer;
}

@media screen and (min-width: 800px) {
    div#himage {
        background-image: url('images/background-pattern-desktop.svg');
    }
}